<div id="cookies">
    {{#cookies}}
        <div class="well">
            "{{body}}"
            {{likes}} - {{shareDate}}
        </div>
    {{/cookies}}
</div>
<div>
    <button id="btn-share" class="btn btn-success">Share</button>
    <button id="btn-like" class="btn btn-success">Like</button>
    <button id="btn-dislike" class="btn btn-success">Dislike</button>
</div>